In [69]:
# Import Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests
import pymongo
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
import time

In [70]:
# Executable path
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [71]:
# URL
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [72]:
# Scrape site
html = browser.html
soup = BeautifulSoup(html, "html.parser")
results = soup.find("ul", class_="item_list")

In [73]:
# Return most recent article with first paragraph
news_title = results.find("div", class_="content_title").text
news_p = results.find("div", class_="article_teaser_body").text

print(news_title)
print(news_p)

The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover
Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.

In [76]:
# Mars image URL setup
featured_image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
featured_image_url_root = featured_image_url.split('/spaceimages')[0]
browser.visit(featured_image_url)

In [77]:
# Select image
browser.click_link_by_partial_text('FULL')
time.sleep(5)
browser.click_link_by_partial_text('more info')

In [80]:
# Save image URL
mars_html = browser.html
mars_soup = BeautifulSoup(mars_html, "html.parser")
mars_img_result = mars_soup.find("figure", class_="lede")
print(mars_img_result)

<figure class="lede">
<a href="/spaceimages/images/largesize/PIA22574_hires.jpg"><img alt="This image of NASAs Hubble Space Telescope shows Astronaut Jeffrey Hoffman removing the Wide Field and Planetary Camera 1 (WFPC 1) during the first Hubble servicing mission (SM1), which took place in December, 1993." class="main_image" src="/spaceimages/images/largesize/PIA22574_hires.jpg" title="This image of NASAs Hubble Space Telescope shows Astronaut Jeffrey Hoffman removing the Wide Field and Planetary Camera 1 (WFPC 1) during the first Hubble servicing mission (SM1), which took place in December, 1993."/></a>
</figure>

In [83]:
# Mars facts page
mars_url = "https://space-facts.com/mars/"
browser.visit(mars_url)
mars_df = pd.read_html(mars_url)[0]
mars_df.columns = ["description","value"]
mars_df = mars_df.set_index("description")
mars_df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers